@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Plus Jakarta Sans", sans-serif;
  --color-primary: #f28b0d;
  --color-secondary: #2d6a4f;
  --color-background-light: #ffffff;
  --color-background-dark: #221a10;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
